.header {
  box-sizing: border-box;
  height: 74px;
  margin: 0 0 40px;
  display: flex;
  border-bottom: 1px solid #545454;
}

@media (max-width: 768px) {
  .header {
    height: 56px;
    margin: 0 0 42px;
    padding: 0 27px;
  }
}
