/* page */

.page {
  max-width: 880px;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #000;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 27px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0;
  }
}

/* header */

.header {
  box-sizing: border-box;
  height: 74px;
  margin: 45px 0 40px;
  display: flex;
  border-bottom: 1px solid #545454;
}

@media (max-width: 768px) {
  .header {
    height: 56px;
    margin: 28px 0 42px;
    padding: 0 27px;
  }
}

.header__link {
  align-self: flex-start;
  display: flex;
}

.header__logo {
  max-width: 142px;
}

@media (max-width: 768px) {
  .header__logo {
    max-width: 104px;
  }
}

/* main */

.main {
  margin: 0 0 66px;
}

@media (max-width: 768px) {
  .main {
    margin: 0 0 48px;
    padding: 0 19px;
  }
}

/* profile */

.profile {
  margin: 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 768px) {
  .profile {
    margin: 0 0 36px;
    gap: 26px;
  }
}

@media (max-width: 576px) {
  .profile {
    flex-direction: column;
  }
}

.profile__content {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .profile__content {
    gap: 26px;
  }
}

@media (max-width: 576px) {
  .profile__content {
    flex-direction: column;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
}

.profile__info {
  display: grid;
  grid-template-columns: 1fr 24px;
  align-items: center;
  gap: 16px 18px;
}

@media (max-width: 768px) {
  .profile__info {
    gap: 14px 10px;
  }
}

.profile__name {
  max-width: 294px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__name {
    font-size: 27px;
    line-height: 1.22;
  }
}

@media (max-width: 576px) {
  .profile__name {
    text-align: center;
  }
}

.profile__edit {
  width: 24px;
  height: 24px;
  padding: 0;
  background: url(../images/profile-edit.svg) center / 10px no-repeat;
  border: 1px solid #fff;
  transition: 1s;
}

.profile__edit:hover {
  opacity: .6;
  cursor: pointer;
  transition: .5s;
}

@media (max-width: 768px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}

.profile__job {
  max-width: 336px;
  grid-column: 1 / -1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media (max-width: 576px) {
  .profile__job {
    text-align: center;
  }
}

.profile__add {
  width: 150px;
  height: 50px;
  padding: 0;
  background: url(../images/profile-add.svg) center / 22px no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: 1s;
}

.profile__add:hover {
  opacity: .6;
  cursor: pointer;
  transition: .5s;
}

@media (max-width: 768px) {
  .profile__add {
    width: 120px;
  }
}

@media (max-width: 576px) {
  .profile__add {
    width: 100%;
  }
}

/* elements */

.elements {
  padding: 1px 0;
}

@media (max-width: 768px) {
  .elements {
    padding: 0;
  }
}

.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
  list-style: none;
}

@media (max-width: 576px) {
  .elements__list {
    grid-template-columns: 1fr;
  }
}

.elements__item {
  background: #fff;
  border-radius: 10px;
}

.elements__link {
  display: flex;
  border-radius: 10px 10px 0 0;
}

.elements__image {
  width: 100%;
  display: flex;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.elements__content {
  box-sizing: border-box;
  min-height: 79px;
  padding: 0 15px 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.elements__title {
  max-width: 214px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like {
  width: 22px;
  height: 19px;
  padding: 0;
  background: url(../images/elements-like.svg) center / 22px 19px no-repeat;
  border: 0;
  border-radius: 2px;
  transition: 1s;
}

.elements__like:hover {
  opacity: .6;
  cursor: pointer;
  transition: .5s;
}

.elements__like_active {
  background: url(../images/elements-like-active.svg) center / cover;
}

/* footer */

.footer {
  margin: 0 0 60px;
}

@media (max-width: 768px) {
  .footer {
    margin: 0 0 36px;
    padding: 0 19px;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: #545454;
}

@media (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.21;
  }
}

/* popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
  .popup {
    padding: 0 19px;
  }
}

.popup_opened {
  display: flex;
}

.popup__container {
  position: relative;
  box-sizing: border-box;
  max-width: 430px;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .15);
}

@media (max-width: 768px) {
  .popup__container {
    padding: 25px 22px;
  }
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  background: url(../images/popup-close.svg) center / cover;
  border: 0;
  transition: 1s;
}

.popup__close:hover {
  opacity: .6;
  transition: .5s;
}

@media (max-width: 768px) {
  .popup__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.popup__form {}

.popup__title {
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  color: #000;
}

@media (max-width: 768px) {
  .popup__title {
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.popup__name {
  width: 100%;
  min-height: 27px;
  margin: 0 0 30px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgb(84, 84, 84, .2);
}

.popup__name:focus {
  outline: 0;
}

.popup__name::placeholder {
  color: #000;
}

.popup__job {
  width: 100%;
  min-height: 27px;
  margin: 0 0 48px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  color: #000;
  border: 0;
  border-bottom: 1px solid rgb(84, 84, 84, .2);
}

.popup__job:focus {
  outline: 0;
}

.popup__job::placeholder {
  color: #000;
}

@media (max-width: 768px) {
  .popup__job {
    margin: 0 0 45px;
  }
}

.popup__save {
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: #fff;
  background: #000;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: 1s;
}

.popup__save:hover {
  opacity: .8;
  transition: .5s;
}

@media (max-width: 768px) {
  .popup__save {
    min-height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
